<!--<div class="container">-->
<!--  <h1>Angular Application</h1>-->
<!--  <app-test-component></app-test-component>-->
<!--  <p>{{ e | number:'1.1-4' }}</p>-->
<!--  <p>{{ str | lowercase | titlecase }}</p>-->
<!--  <p>{{ str | titlecase | slice: 1:-2}}</p>-->
<!--  <p>{{ date | date: 'HH:mm:ss'}}</p>-->
<!--  <p>{{ fl }}</p>-->
<!--  <p>{{ fl | currency}}</p>-->
<!--  <p>{{ fl | percent }}</p>-->
<!--  <pre>{{ obj | json }}</pre>-->
<!--  <p>{{ 2 | multBy: 2 }}</p>-->
<!--  <p>{{ 3 | multBy: 2 }}</p>-->
<!--  <p>{{ 4 | multBy: 2 }}</p>-->
<!--  <p>{{ 5 | multBy: 2 }}</p>-->
<!--  <input type="text" [(ngModel)]="search">-->
<!--  <div *ngFor="let post of posts | filter: search" class="card">-->
<!--    <h2>{{ post.title }}</h2>-->
<!--    <h2>{{ post.text }}</h2>-->
<!--  </div>-->
<!--  <p>Wait for it... {{ p | async}}</p>-->
<!--  <p>Date: {{ myDate | async | date: 'HH:mm:ss'}}</p>-->
<!--  <app-post-form (em)="addPost($event)"></app-post-form>-->

<!--  <app-post *ngFor="let post of posts" [post]="post" (remove)="removePost($event)">-->
<!--    <div #info>-->
<!--      <small *ngIf="post.text.length > 5; else short">Пост длинный</small>-->
<!--      <ng-template #short>-->
<!--        <small>Пост короткий</small>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </app-post>-->
<!--  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>-->
<!--  <div class="wrap" *appIfnot="!isVisible">-->
<!--    Hello my darling!-->
<!--  </div>-->
<!--  <p appStyle color="green" [dStyles]="{ border: '1px solid blue', fontWeight: 'bold', borderRadius: '5px'}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--  <p appStyle color="blue" [dStyles]="{ border: '1px solid red', fontWeight: 'bold', borderRadius: '5px'}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--</div>-->

<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="validation">
        <small *ngIf="form.get('email')?.errors?.required">
          Поле не может быть пустым
        </small>
        <small *ngIf="form.get('email')?.errors?.email">
          Поле email некорректно.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="validation">
        <small *ngIf="form.get('password')?.errors?.required">
          Поле не может быть пустым.
        </small>
        <small *ngIf="form.get('password')?.errors?.minlength.requiredLength">
          Длина пароля: {{ form.get('password')?.errors?.minlength.actualLength }}
        </small>
      </div>
    </div>

    <div class="card">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select>
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text">
      </div>

      <button class="btn" type="button">Выбрать столицу</button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button">Добавить умение</button>
      <div class="form-control">
        <label></label>
        <input type="text">
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Отправить</button>

  </form>
</div>



